<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials_beta/html-header %>
    <% include ../../partials_beta/scripts %>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<% include ../../partials_beta/header %>
<% include ../../partials_beta/sidebar %>
<div id="content">
	<div id="content-header">
		<div id="breadcrumb"><a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
				Home</a></div>
	</div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<div class="chat-users panel-right2 widget-box widget-chat" style="margin-top: 70px;">
	              <div class="panel-title">
	                <h5>Danh sách cây</h5>
	              </div>
	              <div class="panel-content nopadding">
	                  	<ul class="contact-list" id="list_tree">
	                  		<!-- <li id="user-Alex" class="online"><a href=""><span>Alex</span></a></li>
	                  		<li id="user-John" class="online new"><a href=""><span>John</span></a></li>
	                  		<li id="user-Mark" class="online"><a href=""><span>Mark</span></a></li>
	                  		<li id="user-Maxi" class="online"><a href=""><span>Maxi</span></a></li> -->
	                	</ul>
	              </div>
	              <div class="panel-title" style="text-align: center">
	              		<button class="btn" data-toggle="modal" data-target="#myModal">Thêm cây</button>
	              </div>
	            </div>
			</div>
			<div class="span10">
				<div class="widget-box">
					<div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
						<h5>Danh sách cây</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered data-tables" id="data-table">
							<thead>
							<tr>
								<th>Tên</th>
								<th>Nhiệt độ</th>
								<th>Độ ẩm</th>
								<th>Thời gian tưới</th>
								<th>Ngày tưới</th>
								<!-- <th>Cảnh báo</th> -->
							</tr>
							<!-- <tr>
								<th><input class="form-control" id="name" type="text" placeholder="Tìm kiếm"></th>
								<th><input class="form-control" id="name" type="text" placeholder="Nhiệt độ"></th>
								<th><input class="form-control" id="name" type="text" placeholder="Độ ẩm"></th>
								<th><input class="form-control" id="name" type="text" placeholder="Tìm kiếm"></th>
								<th><input type="text" id="datepicker"></th>
							</tr> -->
							</thead>
							<tbody>
							</tbody>
						</table>
						
					</div>
					<div class="widget-title" style="float: right" id="detail">
						<!-- <button class="btn btn-danger" onclick="delete_tree">Xóa cây</button> -->
					</div>
				</div>
			</div>
			<div class="modal fade" id="myModal" role="dialog">
			    <div class="modal-dialog">
			      	<!-- Modal content-->
			      	<div class="modal-content">
				        <div class="modal-header">
				          	<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
				          	<h4 class="modal-title">Thêm cây</h4>
				        </div>
				        <div class="modal-body">
				        	<div class="span6">
					          	<div class="form-group">
					          		<label class="control-label" style="font-weight: bold;">Nhập tên cây :</label>
						      		<input type="text" class="form-control" id="name_tree" placeholder="Nhập tên cây">
						    	</div>
						    	<div class="form-group">
						    		<label class="control-label" style="font-weight: bold;">Nhập độ ẩm :</label>
					      			<input type="text" class="form-control" id="humi" placeholder="Nhập độ ẩm">
					    		</div>
					    	</div>
					    	<div class="span6">
						    	<div class="form-group">
						    		<label class="control-label" style="font-weight: bold;">Nhập độ ẩm max :</label>
						      		<input type="text" class="form-control" id="humimax" placeholder="Nhập độ ẩm max">
						    	</div>
						    	<div class="form-group">
						    		<label class="control-label" style="font-weight: bold;">Nhập độ ẩm min :</label>
						      		<input type="text" class="form-control" id="humimin" placeholder="Nhập độ ẩm min">
						    	</div>
					    	</div>
				        </div>
				        <div class="modal-footer">
				        	<button type="button" class="btn btn-success" data-dismiss="modal" onclick="save_tree()">Lưu</button>
				          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
			      	</div>
			    </div>
		  	</div>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.ui.custom.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.uniform.js"></script>
	<script src="js/select2.min.js"></script>
	<script src="js/jquery.dataTables.min.js"></script>
	<script src="js/matrix.js"></script>
	<script src="js/matrix.tables.js"></script>
	<script src="js/bootbox.min.js"></script>
	

	<script type="text/javascript">
		var name = <%- JSON.stringify(query) %>;
		var list_tree = JSON.parse(name);
		var table = $('#data-table').dataTable({
				"bJQueryUI": true,
				"sPaginationType": "full_numbers",
				"sDom": '<""l>t<"F"fp>'
			});
      	$(document).ready(function() {
      		// for(var i = 0; i < list_tree.length; i++){
	      	// 	var html = '<a class="list-group-item list-group-item-action" href="#" onclick="check_tree(' + list_tree[i].id + ')"><div class="media"><img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt=""><div class="media-body"><strong>' + list_tree[i].name + '</strong></div></div></a>';
	      	// 	$("#list_tree").append(html);
      		// }
      		// $("#detail_tree").hide();
      		// var table = $('#data-table').DataTable();
	        // table.fnClearTable();
	        // table.fnAddData([
			    // 'new engine',
			    // 'new browser',
			    // 'new platform',
			    // 'new version',
			    // 'new css'
			// ]);
      		load_list_tree();
      		check_tree(list_tree[0].id);
      		$("#list_tree #" + list_tree[0].id).addClass('new');
      	});

      	function check_tree(id){
      		$("#list_tree li").removeClass('new');
      		$("#" + id).addClass('new');
      		$("#detail_tree").show();
	        // $('#datepicker').datepick();
	        
	        table.fnClearTable();
	        $.ajax({
		  		url: "/get_data_tree",
		  		method: "GET",
			  	data: {id: id}
			}).done(function( msg ) {
				console.log(msg);
			    var data = JSON.parse(msg);
			    $("#name_tree_table div").remove();
			    $("#name_tree_table").append('<div class="mr-5">Tên cây: ' + $("#" + id).html() + '</div>');
			    for(var i = 0; i < data.length; i++){
			    	var date = new Date(data[i].time);
	          		table.fnAddData( [
			            data[i].name, 
			            data[i].temperature, 
			            data[i].humidity, 
			            data[i].total_time,
			            (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear()
		          	] );
		        }
      			$("#detail button").remove();
  				// $("#detail").append('<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Sửa cây</button>');
      			$("#detail").append('<button type="button" style="float: right;" class="btn btn-danger" onclick="delete_tree(' + id + ')">Xóa cây</button>');
		  	});
      	}

      	function load_list_tree(){
      		$.ajax({
		  		url: "/load_list_tree",
		  		method: "GET"
			}).done(function( msg ) {
				$("#list_tree a").remove();
			    var data = JSON.parse(msg);
			    for(var i = 0; i < data.length; i++){
		      		//var html = '<a class="list-group-item list-group-item-action" href="#" onclick="check_tree(' + data[i].id + ')"><div class="media"><img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt=""><div class="media-body"><strong id="' + data[i].id + '">' + data[i].name + '</strong></div></div></a>';
		      		var html = '<li id="' + data[i].id + '" class="online" onclick="check_tree(' + data[i].id + ')"><a href="#"><span>' + data[i].name + '</span></a></li>'
		      		$("#list_tree").append(html);
      			}

		  	});
      	}

      	function save_tree(){
      		$.ajax({
		  		url: "/add_tree",
		  		method: "GET",
			  	data: {
			  			name: $("#name_tree").val(), 
			  			humimax: $("#humimax").val(),
			  			humimin: $("#humimin").val(),
			  			humi: $("#humi").val()
			  		  }
			}).done(function( msg ) {
			    load_list_tree();
		  	});
      	}

      	function delete_tree(id){
      		bootbox.confirm({
			    message: "Bạn có chắc chắn muốn xóa?",
			    buttons: {
			        confirm: {
			            label: 'Đồng ý',
			            className: 'btn-success'
			        },
			        cancel: {
			            label: 'Không',
			            className: 'btn-danger'
			        }
			    },
			    callback: function (result) {
			        if (result == true){
			        	$.ajax({
					  		url: "/delete_tree",
					  		method: "GET",
						  	data: {id: id}
						}).done(function( msg ) {
						    console.log(msg);
						    if (msg == "ok"){
						    	bootbox.alert("Đã xóa thành công!!");
						    }
						    load_list_tree();
					  	});
			        }
			    }
			});
      		
      	}
    </script>
</div>


<footer class="sticky-footer">
    <% include ../../partials_beta/footer %>
</footer>

</body>
</html>